/* decoration {
    border: 1px solid gray;
} */

VteTerminal, TerminalScreen, vte-terminal {
     padding: 10px 10px 10px 10px;
}

terminal-window .titlebar {
    padding: 0px;
    margin: 0px;
    border: none;
    min-height: 5px;
}

terminal-window .titlebar button:not(.close):not(.minimize):not(.maximize) {
    opacity: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

terminal-window .titlebar,
terminal-window .titlebar .header-bar {
    background: #4e646b;
    /* background: #2e8b57; */
}

terminal-window .titlebar .title {
    font-size: 12px;
}
/* terminal green background #0E1917 */
